<%= simple_form_for([@castle, @rental]) do |form| %>
  <% if @rental.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rental.errors.count, "error") %> prohibited this rental from being saved:</h2>

      <ul>
        <% @rental.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= form.input :start_date, as: :date, html5: true %>
    <%= form.input :end_date, as: :date, html5: true %>
  </div>

  <div class="form-actions my-3">
    <%= form.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
