
<h1>Rental List</h1>

<ul>
  <% @rentals.each do |rental| %>
    <li>
      <p><%= rental.castle.name %></p>
      <p><%= rental.start_date %></p>
      <p><%= rental.end_date %></p>
      <%= link_to "Details", rental_path(rental) %>
    </li>
      <h2><%= link_to "Voltar", root_path %></h2>
  <% end %>
</ul>
