<div class="container my-5">
  <div class="d-flex justify-content-between">
    <h1 class='fs-3'>Rental List (<%= @rentals.count %>)</h1>
  </div>
  <%= link_to castles_path, style: "text-decoration: none" do %>
    <i class="fa-solid fa-reply-all"></i>
  <% end %>
  <hr>
  <div class="row justify-content-center" style="gap: 1.2rem" >
    <% @rentals.each do |rental|
         days = rental.end_date - rental.start_date
         rental.total_rental = rental.castle.daily_rate * days.to_f %>
      <div class="row g-0 justify-content-center">
        <div class="card-product d-flex flex-direction-column">
          <div class="col-6">
            <%= cl_image_tag rental.castle.photo.key, crop: :fill %>
          </div>
          <div class="col-6">
            <div class="card-product-infos ms-4">
              <h5><%= link_to rental.castle.name, castle_path(rental.castle) %></h5>
              <p>Start date: <%= rental.start_date.strftime("%d/%m/%Y") %></p>
              <p>End date: <%= rental.end_date.strftime("%d/%m/%Y") %></p>
              <div class="d-flex justify-content-between">
                <div class='d-flex justify-content-between me-2'>
                  <p><i class="fa-regular fa-calendar-check"></i> <%= days.to_i %> days</p>
                </div>
                <div class='d-flex justify-content-between'>
                  <p>Total: <%= number_to_currency(rental.total_rental) %></p>
                </div>
              </div>
              <%= link_to rental_path(rental), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "text-danger" do %>
                <i class="fa-solid fa-trash-can"></i>
              <% end %>
            </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
