<div class="container my-5">
<div class="d-flex justify-content-between">
  <h1 class= 'fs-3'>My castles and reservations</h1>
  <h5 class="new-castle"><%= link_to 'new castle', new_castle_path(@castle) %></h5>
</div>
  <hr>
  <div class="row justify-content-start" style="gap: 1.2rem" >
    <h5>Available for rent:</h5>
    <% @castles.each do |castle| %>
      <div class="col-lg-3 col-md-4">
        <div class="card" >
          <%= cl_image_tag castle.photo.key, height: 200, width: 300, crop: :fill %>
          <div class="card-body">
            <h5 class="card-title"><%= link_to castle.name, castle_path(castle) %></h5>
            <p class="card-text"><%= castle.address %></p>
            <div class='d-flex justify-content-between'>
              <p><%= number_to_currency(castle.daily_rate) %></p>
            </div>
            <div>
              <%= link_to castle_path(castle), class:'text-primary', style:"text-decoration: none" do %>
                <i class="fa-solid fa-circle-info"></i>
              <% end %>
              <% if current_user.id == castle.user_id %>
                <%= link_to edit_castle_path(castle), class:'text-warning', style:"text-decoration: none" do %>
                  <i class="fa-solid fa-pen"></i>
                <% end %>
                <%= link_to castle_path(castle), data:{ turbo_method: :delete, turbo_confirm: "Are you sure?" }, class:'text-danger' do %>
                  <i class="fa-solid fa-trash-can"></i>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <h5>My earnings:</h5>
     <table class="table table-bordered">
    <thead>
      <tr>
        <th>Castle</th>
        <th>Reservation Id</th>
        <th>Days</th>
        <th>Total Amount</th>
      </tr>
    </thead>
    <tbody>
      <% @earnings_table.each do |entry| %>
        <tr>
          <td><%= entry[:castle].name %></td>
          <td><%= entry[:rental_id] %></td>
          <td><%= entry[:days] %></td>
          <td><%= entry[:total_rental] %></td>
        </tr>
      <% end %>
      <tr>
        <td colspan="3" class="text-end"><strong>Total Earnings:</strong></td>
        <td><%= number_to_currency(@total_earnings) %></td>
      </tr>
    </tbody>
  </table>
</div>
  </div>
</div>
