<h1>New castle</h1>

<div class="container">
  <%= simple_form_for @castle do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.input :daily_rate %>
    <%= f.submit "Create a new castle", class: "btn btn-primary" %>
  <% end %>
</div>
