<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-9">
      <%# title and image %>
      <div class="d-flex flex-column justify-content-center">
        <h1 class='my-3 mx-4'><%= @castle.name %></h1>
        <%= cl_image_tag @castle.photo.key, height: 450, w_auto: 300, crop: :fill, :radius => 20 %>
      </div>
      <%# description and new_rental %>
      <div class="d-flex align-items-center">
        <div class="m-3">
          <div class="m-3">
            <p class='fs-4 mt-4'><i class="fa-regular fa-map fs-3 me-2"></i> <%= @castle.address %></p>
            <p class='fs-5'><%= @castle.description %></p>
          </div>
          <%# links %>
          <div class="d-flex justify-content-between mx-4 ">
            <div>
              <%= link_to castles_path, style: "text-decoration: none" do %>
                <i class="fa-solid fa-reply-all"></i>
              <% end %>
              <% if current_user.id == @castle.user_id %>
                <%= link_to edit_castle_path(@castle), class: 'text-warning', style: "text-decoration: none" do %>
                  <i class="fa-solid fa-pen"></i>
                <% end %>
                <%= link_to castle_path(@castle), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'text-danger' do %>
                  <i class="fa-solid fa-trash-can"></i>
                <% end %>
              <% end %>
              </div>
              <p class="pe-4"><strong><%= number_to_currency(@castle.daily_rate) %>/night</strong></p>
          </div>

        </div>
        <div class="m-4 w-50">
          <h4>New Rental</h4>
          <%= render 'rentals/form', castle: @castle, rental: @rental %>
        </div>
      </div>
      <div class="m-3" style="width: 100%; height: 500px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
