<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1 class='mb-4'><%= @castle.name %></h1>
      <%= cl_image_tag @castle.photo.key, height: 550, width: 450, crop: :fill %>
      <p class='fs-4 mt-4'><i class="fa-regular fa-map fs-3 me-2"></i> <%= @castle.address %></p>
      <p class='fs-5'><%= @castle.description %></p>
      <div class='d-flex justify-content-between fs-4'>
        <span><%= number_to_currency(@castle.daily_rate) %></span>
      </div>
      <%= link_to castles_path, style: "text-decoration: none" do %>
        <i class="fa-solid fa-reply-all"></i>
      <% end %>
      <% if current_user.id == @castle.user_id %>
        <%= link_to edit_castle_path(@castle), class: 'text-warning', style: "text-decoration: none" do %>
          <i class="fa-solid fa-pen"></i>
        <% end %>
        <%= link_to castle_path(@castle), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'text-danger' do %>
          <i class="fa-solid fa-trash-can"></i>
        <% end %>
      <% end %>
      <br>
      <%= link_to new_castle_rental_path(@castle), class: 'btn btn-primary mt-3' do %>
        New Rental
      <% end %>
    </div>
  </div>
</div>
