
<h1><%= @castle.name %></h1>

<p><strong>Address:</strong> <%= @castle.address %></p>

<p><strong>Description:</strong> <%= @castle.description %></p>

<p><strong>Daily Rate:</strong> $<%= @castle.daily_rate %></p>

<%= link_to "Back to Castles List", castles_path %>
